@import '../variables.scss';

#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;

  aside {
    width: 440px;
    background: $mainGradient;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font: {
        size: 40px;
        weight: 800;
      }
      line-height: 42px;
      margin-top: 64px;
    }

    p {
      line-height: 28px;
      margin-top: 24px;
    }

    footer {
      display: flex;
      flex-direction: column;
      line-height: 24px;

      strong { font-weight: 800 }
    }
  }

  .leaflet-container {
    z-index: 5;

    .leaflet-popup-content-wrapper {
      background: $opaqueWhite;
      border-radius: 20px;
      box-shadow: none;
    }

    .leaflet-popup-content {
      color: $popupText;
      font-size: 16px;
      font-weight: bold;
      margin: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: 40px;
        height: 40px;
        background: $iconLink;
        box-shadow: $popupLinkShadow;
        border-radius: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .leaflet-popup-tip-container {
      display: none;
    }
  }

  .create-orphanage {
    position: absolute;
    z-index: 10;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    background: $iconLink;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;

    &:hover { background-color: $hoverButtons }
  }
}