// Colors
$white: #fff;
$mainBackground: #ebf2f5;
$enterButton: #ffd666;
$hoverEnterButton: #96feff;
$plusButton: #15c3d6;
$hoverPlusButton:  #17d6eb;
$mainGradient: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);